---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
    <div class="App">
      <div class="Layout">
        <div class="Masthead">
          <Header />
        </div>
        
        <main class="Main">
          <Nav />

            <section>
            <div class="container">
                <div class="row">
								
                    <div class="col-xs-12 col-md-6">                
                        <img src="/assets/product/images/404.svg" alt="island">
                    </div>

                    <div class="col-xs-12 col-md-6 p-b-1">
                        <h3 class="vds-text--primary">Yikes!</h3>
                        <p>Looks like the page you're looking for can't be found! <a href="/journal/" title="Take a look at the journal">Take a look at the journal </a> or <a href="/art/" title="check out the art section">check out the art section</a>.</p>
                    </div>

                </div>

            </div>
            </section>

        </main>

        <div class="Aside">
          <Aside />
        </div>
      </div>

      <Footer />
    </div>
  </body>
</html>