---
import ContactForm from './ContactForm.astro';
import NewsletterForm from './NewsletterForm.astro';
import Support from './Support.astro';
---

<style>
	.aside-out-link {
        &:after {
            display: none;
        }
    }

    a {
        display: inline;
    }

    p {
        font-size: var(--set-font-size-sm);
    }

    .support-container-1 {
        display: none;
    }

    @media (max-width: 800px) {
        .support-container-1 {
            display: block;
        }

        .support-container-2 {
            display: none;
        }
    }
</style>

<aside>
    <div class="container">

        <div class="row p-b-3 p-t-1 support-container-1">
            <div class="col-12">
                <Support></Support>
            </div>
        </div>

        <div class="row p-b-2 p-t-1">
            <div class="col-12">
                <NewsletterForm />
            </div>
        </div>
        
        <div class="row p-b-2 p-t-1">
            <div class="col-12">
                <ContactForm></ContactForm>
            </div>
        </div>

        <div class="row p-b-3 p-t-1 support-container-2">
            <div class="col-12">
                <Support></Support>
            </div>
        </div>

    </div>
</aside>