<!-- components/NewsletterForm.astro -->

<div class="bsln-form-container">
  <form
    action="/api/newsletter"
    method="post"
    class="newsletter-form"
  >
    <legend class="bsln-legend">
      <i class="fa-sharp fa-light fa-mailbox"></i> Newsletter
    </legend>

    <div class="row">
      <div class="col-12">
        <span>Get new feature entries, field notes, and selected work from Percept Index delivered by email. Email delivery is handled securely through Substack.</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 substack-entry">
        <a
          href="https://perceptindex.substack.com/subscribe"
          class="bsln-button"
          target="_blank"
          rel="noopener"
        >
          Subscribe via Substack
        </a>
      </div>
    </div>

  </form>
</div>

<style>
  .bsln-form-container span {
    font-family: var(--set-font-mono);
    font-size: 0.8em;
  }

  .bsln-legend {
    position: absolute;
    top: -1.2em;
    background: light-dark(var(--set-color-base-white), var(--set-color-base-black));
  }

  form,
  button {
    font-family: var(--set-font-mono) !important;
  }

  .substack-entry {
    .bsln-button {
      margin: 1em 0 0 0 !important;
    }
  }
</style>
