---
/* no script directives in here! */
---

<style>
    .pi-support {
        h4 i {
            font-size: 0.8em;
            margin-right: 0.25em;
        }
    }

    .pi-support__title {
        font-family: var(--set-font-mono);
        color: var(--set-color-magenta);
        font-weight: 700;
    }
</style>

<section class="pi-support">
  <h4 class="bsln-text--magenta"><i class="fa-sharp fa-light fa-message-heart bsln-text--base-inverse"></i> Support Percept Index</h4>
  <p>
    Percept Index is an independent project of writing, art, and reflection. If you find meaning here and want to help sustain its growth, you can do so in a few ways:
  </p>

  <div class="m-t-1">
        <i class="fa-sharp fa-light fa-mug-hot"></i> <a href="https://buymeacoffee.com/antonsimanov" target="_blank" rel="noopener"><span class="pi-support__title">Buy Me a Coffee</span></a>  
        <br>
        <span>One-time or monthly support</span>

        <div class="row m-t-1 m-b-2">
            <div class="col-6">
                <span class="pi-support__title">Bitcoin</span>  
                <br>
                <img src="/Media/tips/btc.png" alt="Bitcoin wallet QR code" class="support-qr" style="width: 60%; height: auto; display: block;">
            </div>
            <div class="col-6">
                <span class="pi-support__title">Ethereum</span>  
                <br>
                <img src="/Media/tips/eth.png" alt="Ethereum wallet QR code" class="support-qr" style="width: 60%; height: auto; display: block;">
            </div>
        </div>

      <i class="fa-sharp fa-light fa-book-sparkles"></i> <span class="pi-support__title">Annual Percept Book</span>
      <br>
      <span>Coming soon (Print-on-Demand)</span>
    
    </div>

  <p class="m-t-1">
    Thank you for supporting independent work and keeping this project alive.
  </p>
</section>
